@model Etkinlik

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h6 class="display-6">@Model.Title</h6>

            <p class="lead">@Model.LongDescription</p>
            <div class="text-center">
                <div class="btn-group">
                    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house"></i>
                        Home
                    </a>

                    <a class="btn btn-outline-secondary" asp-controller="Etkinlik" asp-action="Index">
                        <i class="fa-solid fa-list"></i>
                        Geri
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>