@model EtkinlikListViewModel

<div class="row">
    <div class="row my-3">
        @foreach (Etkinlik item in Model.Etkinlikler)
        {
            <partial name="_EtkinlikCard" model="item" />
        }
    </div>
    <div class="text-center">
        <div page-model="@Model.Pagination" page-action="Index" page-classes-enabled="true" page-class="btn"
            page-class-normal="btn-outline-dark" page-class-selected="btn-secondary">
        </div>
    </div>
</div>