@model EtkinlikListViewModel

<div class="row">
    <div class="row my-3">
        @foreach (Etkinlik item in Model.Etkinlikler)
        {
            <partial name="_EtkinlikCard" model="item" />
        }
    </div>
</div>