<script>
    var etkinlikler = @Html.Raw(ViewBag.EtkinliklerJson);
</script>

<link rel="stylesheet" href="~/css/site.css" />
<script src="~/js/tr.global.min.js"></script>
<script src="~/js/index.global.js"></script>
<script src="~/js/site.js"></script>

<div id='calendar'></div>