@if (User.Identity.IsAuthenticated && User.IsInRole("User"))
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Profil</a>
    </li>
}


@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page" asp-area="" asp-controller="Account" asp-route-returnUrl="@Context.Request.PathAndQuery()" asp-action="Logout">Çıkış Yap</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" aria-current="page" asp-area="" asp-controller="Account" asp-route-ReturnUrl="@Context.Request.PathAndQuery()" asp-action="Login">Giriş Yap / Kayıt Ol</a>
    </li>
}